@page "/about"

<h3>Wellcome to Blazor with Electron.NET</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sapiente, esse, beatae voluptate ratione ex eligendi corrupti provident vero itaque harum accusamus, saepe molestiae a necessitatibus dolor veniam? Id quasi nulla sunt sequi nam impedit reiciendis, amet necessitatibus cupiditate quo.
</p>


@code{



}