@page "/compleatedtasks"
@using BlazorDesktopDemo.Models;
@inject BlazorDesktopDemo.Data.ApplicationDbContext db;

<h2><ul>Completed Tasks</ul></h2>
<NavLink class="nav-link btn btn-primary" href="todoitems" style="width:25%">To Do Items</NavLink>
<hr>
<input type="date" @bind=@date @onfocusout=@Refresh>
<button class="btn btn-primary" @onclick=@Refresh>></button>
<table class="table table-bordered">
<thead>
    <th>
        <td>
            Descriptions
        </td>
        <td>
            Comment
        </td>
    </th>
</thead>
<tbody>
@foreach (var item in itemsC)
{    
    <tr>
        <td>
            @item.finishedDate
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Comment
        </td>
    </tr>     
}
</tbody>
</table>

@code
{    
    List<ToDoItem> itemsC = new List<ToDoItem>();

    DateTime date = DateTime.Now;    
    
    protected override void OnInitialized()
    {        
        itemsC = db.Items.Where(x=>x.IsDone == true 
        && x.finishedDate.Date == date.Date).ToList();
    }

    public void Refresh()
    {
           OnInitialized();
    }

}

     