@page "/"
 @* dotnet ef migrations add cat *@
 @* dotnet ef database update *@
 @* electronize build /target win *@
 @* C:\Project\BlazorDesktopDemo\bin\Desktop *@
 @* C:\Users\nikolano\AppData\Local\Programs\blazor-desktop-demo\ *@
 @* dotnet build *@
<head>
    <style>
        h1 {
            color:blue;
        }
    </style>
    
</head>
<title>TODO Manager</title>
<NavLink class="nav-link btn btn-primary" href="todoitems">TODO: Items</NavLink>
@* <NavLink class="nav-link btn btn-primary" href="compleatedtasks">Completed Items</NavLink> *@
<hr />

 <NavLink class="btn btn-success" href="notebook">Notebook</NavLink>
 <br>
 <hr>
<NotificationsDemo></NotificationsDemo>
@code{


async Task OpenTasks()
{
    string url =$"http://localhost:{BridgeSettings.WebPort}/ToDoItems";
        var mainwindow = Electron.WindowManager.BrowserWindows.First();
            var options = new BrowserWindowOptions
    {
        @* Fullscreen = true, *@
        @* AlwaysOnTop = true, *@

    };

    var window = await Electron.WindowManager.CreateWindowAsync(options, url);

}



}