@page "/"
<head>
    <style>
        h1 {
            color:blue;
        }
    </style>
</head>
<NavLink class="nav-link btn btn-primary" href="todoitems">To Do Items</NavLink>
<hr>
<NavLink class="nav-link btn btn-primary" href="compleatedtasks">Completed Items</NavLink>

@* <button class="btn btn-success" @onclick="OpenAboutWindow">Open Button Window</button> *@

@code{

async Task OpenAboutWindow()
{
    string url = $"http://localhost:{BridgeSettings.WebPort}/About";

    var options = new BrowserWindowOptions
    {
        @* Fullscreen = true, *@
        @* AlwaysOnTop = true, *@

    };
    var mainwindow = Electron.WindowManager.BrowserWindows.First();

    var window = await Electron.WindowManager.CreateWindowAsync(options, url);
}
async Task OpenTasks()
{
    string url =$"http://localhost:{BridgeSettings.WebPort}/ToDoItems";
        var mainwindow = Electron.WindowManager.BrowserWindows.First();
            var options = new BrowserWindowOptions
    {
        @* Fullscreen = true, *@
        @* AlwaysOnTop = true, *@

    };

    var window = await Electron.WindowManager.CreateWindowAsync(options, url);

}


}