@page "/notebook"
@using BlazorDesktopDemo.Models
@inject BlazorDesktopDemo.Data.ApplicationDbContext db;
@inject NavigationManager Navigation

<center><h5><u>Notebook</u></h5></center>





@code{


}

