@page "/seesharp"

<h3>SeeSharp</h3>
<NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Forecast
</NavLink>
<NavLink class="nav-link" href="draganddrop">
    <span class="oi oi-list-rich" aria-hidden="true"></span> DragAndDrop
</NavLink>

@code {

}
